<article class="project-card animate-in">
    <a href="/projects/{{ project['link'] }}" class="project-media" aria-label="{{ project['name'] }}">
        {% if 'photos' in project %}
        <img src="{{ project['photos'][0] }}" alt="{{ project['name'] }} preview" loading="lazy"/>
        {% else %}
        <img src="/static/images/projectx.png" alt="{{ project['name'] }} preview" loading="lazy"/>
        {% endif %}
    </a>
    <div class="project-body">
        <div class="project-tags">
            {% for tag in project['tags'] %}
            <a class="project-tag" href="/projects?tags={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <h3 class="project-name">
            <a href="/projects/{{ project['link'] }}">{{ project['name'] }}</a>
        </h3>
        <p class="project-short">{{ project['short'] }}</p>
        <div class="project-links">
            <a href="/projects/{{ project['link'] }}" class="project-more">Read more &rarr;</a>
            {% if 'github' in project %}
            <a class="project-gh" target="_blank" href="{{ project['github'] }}">GitHub</a>
            {% endif %}
        </div>
    </div>
</article>
